body{margin: 0; padding: 0;}

header{background-color: #4B0082;
		color: white;
		text-align: center;
		padding-top: 50px;
		margin: 0
		}
header h1 {transition: all 1s;}/*agregar transición al header*/
header h1:hover {
	background: #FFD700;
	color: black;
	padding: 55px 0;
	cursor: not-allowed;/*tipo de cursor*/
	}
h1{margin: 0 0 20px 0;text-align: center;
	}


h2{text-align: right;
	padding: 20px;
	text-transform: capitalize;
	color: white; 
	}
h2 span{color: red;}
h3 {margin: 0;
	color: black;
	padding: 15px;
	font-weight: bold;
	text-align: center;}

.bg-yellow{background-color: yellow;}
.bg-green{background-color: green;}
.bg-red{background-color: red;}
.bg-blue{background-color: blue;
			color: white;}
.bg-purple{background-color: purple;}
.bg-navy{background-color: navy;}
.bg-black{background-color: black;}

.col1, .col2, .col3 {float: left; max-width: 30%;
					padding: 0 0.6em;
					}

.col2{border-left: dotted 4px red;
	border-right: dotted 4px blue;
	}

.clearfix {clear: both;}


.cabecera{background: url("img/drwho02.jpg");
		background-size: contain;
		}

#autores {background: url("img/drwho01.jpg");
		padding: 30px;
			}
#autores main {margin:0 auto;max-width: 80%;
				background-color: white;
				padding-bottom: 1.2em;}

@keyframes animacion{
	0% {width: 100%;height: 30px; background: yellow;}
	50% {width: 30%; height: 20px; background: blue;}
	100% {width: 100%;height: 30px; background: red;}
}
div.separador {
	animation-name: animacion;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-duration: 8s;
	margin: 0 auto;
	height: 80px;
	text-align: center;
	color: #fff;
}



footer{background: red;
	   background: linear-gradient(to left,black, silver,black, gold, silver,black,white); /*agregar fondos degradados*/ 
	   text-align: center;
	   font-size: 1em;
	   padding:30px;
	   transition: all 2s;
	  }
footer:hover {
	background: #4B0082;
	color: white;
	padding: 20px 0;
	cursor: help;/*tipo de cursor*/
	}