header {background-color: orange; padding-top: 2em;}
h1, h2 {text-align: center;}
footer {background: blue; padding: 3em 0;}



#flex-1 {
	display: flex; /*siempre s eusa para empezar con flex*/
	/*poner los contenedores  en espejo -- flex-direction: row-reverse;*/
	flex-direction: row; 
	/*flex direction row fila colum columna*/
	/*flex-wrap: wrap-reverse;*/
	/*justify-content es para alinear los bloques 
	flex-start flex-end center space-between space-around*/
}
#flex-1 div { 
	width: 200px;
	height: 200px;
	border: solid 1px red;
	text-align: center;
	font-size: 3em;
	color: purple;
	 }	

#flex-2 {
	display: flex; 
	justify-content: space-between; /*es para alinear los bloques 
	flex-start flex-end center space-between space-around*/
}

#flex-2 div { 
	width: 200px;
	height: 200px;
	border: solid 1px blue;
	text-align: center;
	font-size: 3em;
	color: red;
	background-color: yellow;
	 }	

#flex-3 {
	display: flex; 
	align-items: center; /*flex-start flex-end center stretch baseline*/
	/*el valor stretch requiere que el elemento no tenga altura apra que se pueda
	apreciar*/
	height: 500px;
	background-color: yellow;
}
#flex-3 div { 
	/*width: 200px;
	height: 200px;*/
	border: solid 2px yellow;
	text-align: center;
	font-size: 3em;
	color: white;
	background-color: red;
	 }	


#flex-4 {
	display: flex;
	align-items: baseline;
	height: 300px;
	background-color: green;
	color: white;
}

#flex-4 div.alt1{height: 250px; width: 200px;}
#flex-4 div.alt2{height: 150px; width: 200px;}
#flex-4 div.alt3{height: 50px; width: 200px;}
#flex-4 div.alt4{height: 100px; width: 200px;}

.alt1, .alt2, .alt3, .alt4 {border: solid 2px; border-color: red;}

#flex-4 div { 
	/*width: 200px;
	height: 200px;*/
	border: solid 2px yellow;
	text-align: center;
	font-size: 3em;
	color: white;
	background-color: red;
	 }	

#flex-5 {
	display: flex; 
	align-content: space-between;
	flex-flow: row wrap;
	height: 600px;
	background-color: purple;
}
#flex-5 div { 
	width: 200px;
	height: 200px;
	border: solid 2px white;
	text-align: center;
	font-size: 3em;
	color: white;
	background-color: gold;
	}	

#fitem1 {	
	display: flex;
	flex-flow: row wrap;
}

#fitem1 div {
	flex-grow: 1;
	width: 200px;
	height: 200px;
	border: solid 1px black;
	text-align: center;
	font-size: 3em;
	color: black;
	background-color: silver;
	}	

#fitem1 div.w3{
	flex-grow: 5;
	order: 1;
}

#fitem2 {	
	display: flex;
	flex-flow: row wrap;
}

#fitem2 div {
	flex-basis: 25%; 
	height: 200px;
	border: solid 1px black;
	text-align: center;
	font-size: 3em;
	color: white;
	background-color: navy;
	}	

#fitem2 div.b3{
	flex-basis: 50%;
	order: 1;
}